<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <title>Address Book</title>
</head>
<header class="text-center">
  <div class="card mx-3 mt-1">
    <h1 class="mt-2 border-bottom">Address Book</h1>
  </div>
</header>
<body class="bg-dark">
  <div class="container-fluid mt-2">
    <div class="row justify-content-center">
      <div class="col-6 text-center">
        <div class="card mx-1 mt-1 text-center" id="add">
          <h1 class="text-center ml-1">Add A Contact</h1>
          {{#each errors}}
          <div>
            <p class="text-warning">{{text}}</p>
          </div>
          {{/each}}
          <form action="/contacts/add" method="POST" class="border-bottom ml-2 my-2">
            <input class="form-control shadow mt-1 mw-100" type="text" placeholder="Name" id="name" name="name" value={{this.name}}>
            <input type="text" class="form-control shadow mt-1" placeholder="Role" name="role" id="role" value={{this.role}}>
            <input type="text" class="form-control shadow mt-1" placeholder="Email" name="email" id="email" value={{this.email}}>
            <input type="text" class="form-control shadow mt-1" placeholder="Phone" name="phone" id="phone" value={{this.phone}}>
            <button class="btn btn-dark my-2" type="submit">
              Submit
            </button>
          </form>
        </div>
     <div class="row">
       <div class="col-12" id="contacts">
{{{body}}}
        </div>
      </div>
          
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>