
<template id="add">
      <div class="card mx-1 mt-1 text-center">
          <h1 class="text-center ml-1">Add A Contact</h1>
          {{#each errors}}
          <div>
            <p class="text-warning">{{text}}</p>
          </div>
          {{/each}}
          <form action="/contacts/add" method="POST" class="border-bottom ml-2 my-2">
            <input class="form-control shadow mt-1 mw-100" type="text" placeholder="Name" name="name" value={{name}}>
            <input type="text" class="form-control shadow mt-1" placeholder="Role" name="role" value={{role}}>
            <input type="text" class="form-control shadow mt-1" placeholder="Email" name="email" value={{email}}>
            <input type="text" class="form-control shadow mt-1" placeholder="Phone" name="phone" value={{phone}}>
            <button class="btn btn-dark my-2" type="submit">
              Submit
            </button>
          </form>

        </div>
</template>